<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>week</key>
          <integer>1</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>1</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>30</string>
          <key>swimrpe</key>
          <string>3</string>
          <key>swimdescription</key>
          <string>EXHALING DRILL 1:
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps.

4 x 25m of each of:-
- Push off (torpedo) practice exhaling bubbles as you kick your legs. When you need to breathe, swim to the end ( any stroke) 
- Fc, focus on exhaling
- Blowing out through your mouth whilst your face is in the water  
- Fc swim, focus on exhaling
- Fc - 1&amp;3 breathing every 2 to your weak side 
- Fc - focus on exhaling</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>1</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>2</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>50</string>
          <key>riderpe</key>
          <string>4</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>1</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>3</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>20</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>2</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>4</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>30</string>
          <key>swimrpe</key>
          <string>3</string>
          <key>swimdescription</key>
          <string>PULL &amp; PADDLES 1
10 mins easy swim

Repeat for 50 mins. 10 x 25m of each: 
- Pull R:20 
- Pull and paddles R:30
- Pull R: 1 min</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>2</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>5</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>7</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 40 mins as:
6 mins BIG GEAR - HIGH RESISTANCE @ 55 RPM / 2 mins recoveries

Cool down 10 mins</string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>2</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>6</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>30</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>3</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>7</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>45</string>
          <key>swimrpe</key>
          <string>4</string>
          <key>swimdescription</key>
          <string>PULL 1
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps
4 x 25m of each of:
- 10m scull (pull buoy) 15m swim 
- Fc pull 
- 10m doggy paddle (pull buoy) 15m swim 
- Fc pull 
- 10m scull (pull buoy) 15m swim</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>3</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>8</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>7</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 40 mins as:
3 mins BIG GEAR - HIGH RESISTANCE @ 55 RPM / 2 mins recoveries

Cool down 10 mins</string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>3</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>9</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>7</string>
          <key>rundescription</key>
          <string>Warm up for 10-15 mins easy. Interval set: 7 x 3 mins (7/10 RPE) Rest 2 mins. Cool down to finish</string>
    </dict>
    <dict>
          <key>week</key>
          <integer>4</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>10</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>45</string>
          <key>swimrpe</key>
          <string>4</string>
          <key>swimdescription</key>
          <string>KICK 1
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps

2 x 25m of each of:
- Side kick (L up, R back) 
- Fc fins
- Side kick (R up, L back) 
- Fc fins
- 6 kicks on side / 1 arm pull/ 6 kicks on side
- Fc fins
- 6 kicks on side / 3 arm pulls/ 6 kicks on side
- Fc fins</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>4</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>11</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>7</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 40 mins as:
4 mins BIG GEAR - HIGH RESISTANCE @ 55 RPM / 2 mins recoveries

Cool down 10 mins</string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>4</integer>
          <key>phase</key>
          <string>Base</string>
          <key>day</key>
          <string>12</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>5</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>13</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>EXHALING DRILL 2:
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps.

6 x 25m of each of:-
- Push off (torpedo) practice exhaling bubbles as you kick your legs. When you need to breathe, swim to the end ( any stroke) 
- Fc, focus on exhaling
- Blowing out through your mouth whilst your face is in the water  
- Fc swim, focus on exhaling
- Fc - 1&amp;3 breathing every 2 to your weak side 
- Fc - focus on exhaling</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>5</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>14</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>75</string>
          <key>riderpe</key>
          <string>3</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>5</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>15</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>6</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>16</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>3</string>
          <key>swimdescription</key>
          <string>PULL &amp; PADDLES 2
10 mins easy swim

Repeat for 50 mins. 12 x 25m of each: 
- Pull R:20 
- Pull and paddles R:30
- Pull R: 1 min</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>6</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>17</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>7</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 40 mins as:
4 mins BIG GEAR - HIGH RESISTANCE @ 65 RPM / 2 mins recoveries

Cool down 10 mins</string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>6</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>18</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>60</string>
          <key>runrpe</key>
          <string>7</string>
          <key>rundescription</key>
          <string>15 mins easy warm up / 6 x 4 mins Zone 4 / RPE 7  R: 2 mins</string>
    </dict>
    <dict>
          <key>week</key>
          <integer>7</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>19</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>45</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>PULL 2
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps
6 x 25m of each of:
- 10m scull (pull buoy) 15m swim 
- Fc pull 
- 10m doggy paddle (pull buoy) 15m swim 
- Fc pull 
- 10m scull (pull buoy) 15m swim</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>7</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>20</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>90</string>
          <key>riderpe</key>
          <string>3</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>7</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>21</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>8</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>22</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>KICK 2
4 x any stroke
2 x fc
4 x any stroke
2 x fc

Take the rest that you feel like you need between reps

4 x 25m of each of:
- Side kick (L up, R back) 
- Fc fins
- Side kick (R up, L back) 
- Fc fins
- 6 kicks on side / 1 arm pull/ 6 kicks on side
- Fc fins
- 6 kicks on side / 3 arm pulls/ 6 kicks on side
- Fc fins</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>8</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>23</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>7</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 40 mins as:
5 mins BIG GEAR - HIGH RESISTANCE @ 65 RPM / 2 mins recoveries

Cool down 10 mins</string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>8</integer>
          <key>phase</key>
          <string>Build</string>
          <key>day</key>
          <string>24</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>60</string>
          <key>runrpe</key>
          <string>7</string>
          <key>rundescription</key>
          <string>15 mins easy warm up / 8 x 3 mins Zone 4 / RPE 7  R: 2 mins</string>
    </dict>
    <dict>
          <key>week</key>
          <integer>9</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>25</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>PULL &amp; PADDLES 3
10 mins easy swim

Repeat for 50 mins. 16 x 25m of each: 
- Pull R:20 
- Pull and paddles R:30
- Pull R: 1 min</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>9</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>26</string>
          <key>session</key>
          <string>RideRun</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>4</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>10</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>9</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>27</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>10</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>28</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>OPEN WATER SWIM - check wetsuit and acclimatise.</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>10</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>29</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>9</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 6 x 3 mins R: 3 mins </string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>10</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>30</string>
          <key>session</key>
          <string>RideRun</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>90</string>
          <key>riderpe</key>
          <string>4</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>20</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>11</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>31</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>60</string>
          <key>runrpe</key>
          <string>7</string>
          <key>rundescription</key>
          <string>15 mins easy warm up / 6 x 4 mins Zone 4 / RPE 7  R: 2 mins</string>
    </dict>
    <dict>
          <key>week</key>
          <integer>11</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>32</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>3</string>
          <key>swimdescription</key>
          <string>PULL &amp; PADDLES 3
10 mins easy swim

Repeat for 50 mins. 16 x 25m of each: 
- Pull R:20 
- Pull and paddles R:30
- Pull R: 1 min</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>11</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>33</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>8</string>
          <key>ridedescription</key>
          <string>10 mins easy warm up
4 mins - start easy, get faster every minute to raise HR

Main Set - 8 x 4mins R:2 mins </string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>12</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>34</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>45</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>12</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>35</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>60</string>
          <key>swimrpe</key>
          <string>7</string>
          <key>swimdescription</key>
          <string>OPEN WATER SWIM </string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>12</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>36</string>
          <key>session</key>
          <string>RideRun</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>60</string>
          <key>riderpe</key>
          <string>4</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>20</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
    <dict>
          <key>week</key>
          <integer>13</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>37</string>
          <key>session</key>
          <string>Swim</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string>30</string>
          <key>swimrpe</key>
          <string>3</string>
          <key>swimdescription</key>
          <string>Easy fc</string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>13</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>38</string>
          <key>session</key>
          <string>Ride</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string>40</string>
          <key>riderpe</key>
          <string>3</string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string></string>
          <key>runrpe</key>
          <string></string>
          <key>rundescription</key>
          <string></string>
    </dict>
    <dict>
          <key>week</key>
          <integer>13</integer>
          <key>phase</key>
          <string>Race</string>
          <key>day</key>
          <string>39</string>
          <key>session</key>
          <string>Run</string>
          <key>completed</key>
          <string>0</string>
          <key>swimtime</key>
          <string></string>
          <key>swimrpe</key>
          <string></string>
          <key>swimdescription</key>
          <string></string>
          <key>ridetime</key>
          <string></string>
          <key>riderpe</key>
          <string></string>
          <key>ridedescription</key>
          <string></string>
          <key>runtime</key>
          <string>20</string>
          <key>runrpe</key>
          <string>3</string>
          <key>rundescription</key>
          <string>Run easy, with breathing light. You should be able to hold a conversation through out </string>
    </dict>
</array>
</plist>